include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml
include setup.py
include requirements*.txt

recursive-include docs *
recursive-include tests *

prune venv
prune __pycache__
prune *.egg-info
